<div>
  <h3>Language Detection</h3>

  <div>
    <form (submit)="getLanguageDetection()" class="mb-5">
      <div class="form-group mb-2">
        <textarea type="text" class="form-control" id="text1" name="token" placeholder="Enter Text"
                  [(ngModel)]="inputText"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Detect Language</button>
    </form>

    <section class="example-section">
      <mat-checkbox class="example-margin" [(ngModel)]="clean">Clean</mat-checkbox>
    </section>

    <h3>Language: {{lang}}</h3>
    <h3>Confidence Level: {{confidenceLevel}}</h3>

  </div>
</div>
